<p>campeonato-jogador works!</p>
<Style>
table {
    margin: auto;    
    font-family: arial, sans-serif;
    border-collapse: none;
    width: 600px;
    background-color: white;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>

<body>

    <h2 style="color: white;">Jogadores do Campeonato</h2>
    
    <table>
      <tr>
        <th style="width: 100px;">Jogador</th>
        <th style="width: 30px">Nº Camisa</th>
        <th style="width: 50px">Time</th>
        <th style="width: 20px;"></th>
        <th style="width: 20px;">
            <img src="../../../assets/adicionar.png" width="30"></th>
        </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>1</td>
        <td>Brasil</td>
        <td><img src="../../../assets/lixeira.png" width="30"></td>
        <td><img src="../../../assets/engrenagem.png" width="30"></td>
    </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>1</td>
        <td>Mexico</td>
        <td><img src="../../../assets/lixeira.png" width="30"></td>
        <td><img src="../../../assets/engrenagem.png" width="30"></td>
    </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>2</td>
        <td>Austria</td>
        <td><img src="../../../assets/lixeira.png" width="30" ></td>
        <td><img src="../../../assets/engrenagem.png" width="30" ></td>
    </tr>
      <tr>
        <td>Island Trading</td>
        <td>3</td>
        <td>UK</td>
        <td><img src="../../../assets/lixeira.png" width="30"></td>
        <td><img src="../../../assets/engrenagem.png" width="30"></td>
      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>4</td>
        <td>Canada</td>
        <td><img src="../../../assets/lixeira.png" width="20"></td>
        <td><img src="../../../assets/engrenagem.png" width="20"></td>
    </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>5</td>
        <td>Italy</td>
        <td><img src="../../../assets/lixeira.png" width="20"></td>
        <td><img src="../../../assets/engrenagem.png" width="20"></td>
    </tr>
    </table>
    
    </body>